# Ignore Python cache & compiled files
__pycache__/
*.py[cod]

# Ignore env files
.env
.env.*

# Ignore virtual environments
venv/
env/

# Ignore IDE/editor settings
.vscode/
.idea/

# Ignore logs
*.log